.philosophy {
    padding: 80px 20px;
    max-width: 1200px;
    margin: auto;
    color: var(--color-white);
}

.philosophy h2 {
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 40px;
}

/* MAIN BOX */
.philosophy-box {
    display: flex;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    overflow: hidden;
}

/* LEFT */
.philosophy-left {
    width: 280px;
    display: flex;
    flex-direction: column;
}

.philosophy-tab {
    width: 100%;
    padding: 18px 20px;
    font-size: 16px;
    text-align: left;
    background: transparent;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    cursor: pointer;
    /* transition: background 0.3s, color 0.3s; */
    background: var(--color-primary);
    flex: 1;
}

.philosophy-left>button:last-child {
    border-radius: 0 0 0 12px;
    border-bottom: none;
}

.philosophy-tab.active {
    background: transparent;
    border-right: none;
}

/* RIGHT */
.philosophy-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    gap: 40px;
}

.philosophy-right .content {
    max-width: 520px;
}

.philosophy-right h3 {
    font-size: 28px;
    margin-bottom: 16px;
}

.philosophy-right p {
    font-size: 16px;
    line-height: 1.7;
    color: #ccc;
}

.philosophy-right .image img {
    width: 220px;
    height: auto;
}

/* RESPONSIVE */
@media (max-width: 990px) {
    .philosophy h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .philosophy-box {
        flex-direction: column;
    }

    .philosophy-left {
        flex-direction: row;
        overflow-x: auto;
        width: 100%;
        scrollbar-width: thin;
        scrollbar-color: #888 transparent;
    }

    .philosophy-left::-webkit-scrollbar {
        height: 6px;
    }

    .philosophy-left::-webkit-scrollbar-track {
        background: transparent;
    }

    .philosophy-left::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 10px;
    }

    .philosophy-left::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }

    .philosophy-tab {
        white-space: nowrap;
    }

    .philosophy-tab {
        border-bottom: none;
        border-right: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5;
    }

    .philosophy-tab.active {
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
    }

    .philosophy-left>button:last-child {
        border-radius: 0 12px 0 0;
        border-right: none;
    }

    .philosophy-left>button:first-child {
        border-radius: 12px 0 0 0;
        border-left: none;
    }
}

@media (max-width: 600px) {
    .philosophy h2 {
        font-size: 28px;
    }

    .philosophy-right{
        flex-direction: column;
    }
}